# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db
